<head>
    <style>
        footer{
    width: 100%;
    background-color: #292c37;
}

h1{
    color: #cccc;
}

p{
    color: #cccccc69;
}

.footer-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.h1-footer {
    font-size: 70px;
    font-weight: bold;
}

div.titles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Copyright {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 0;
}


.social-link {
    display: inline-block;
    margin: 5px 0;
    text-decoration: none;
    color: rgb(206, 206, 206);
}

.social-link i {
    margin-right: 10px;
}

.contacto-footer {
    text-align: center;
    margin-bottom: 20px;
}

.contactanos {
    text-align: center;
    margin: 0;
}

.contact-link {
    color: #cccc;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

i#wh.fa-brands.fa-whatsapp::before{
    margin-right: 5px;
}

i#mail.fa-regular.fa-envelope::before{
    margin-right: 8px;
}

.contact-link:last-child {
    margin-bottom: 0;
}


.footer-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-bottom: 20px;
}

.redes {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.redes-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacto {
    background-color: #1b1d24;
}

#git, #mail, #wh, #li{
    color: white;
    font-size: 25px;
}

#ig{
    font-size: 25px;
}

#li{
    background-color: #fff;
    color: #0a66c2;
}

#ig{
    
    background:radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf);
        border-radius: 30%;
}




#mail {
    color: #ff1500;
}

#wh {
    color: #25d366;
}

    </style>
</head>

<footer id="contacto">
    <div class="titles">
    <h1 class="h1-footer">Electric Plus</h1>
    <br>
    <h1 class="footer-title">Acerca de Nosotros</h1>
    <br>
    </div>
<div class="footer-icons">
    <div class="redes">
        <h1 class="redes-footer">Redes Sociales</h1>
        <a href="" class="social-link"></i>Instagram: santino_rossa</a>
        <a href="" class="social-link"></i>Github: santirossa</a>
        <a href="" class="social-link"></i>Linkedin: Santino Rossa</a>
        <br>
    </div>
    
    <div class="contactanos">
        <h1 class="contacto-footer">Contactanos</h1>
        <a href="" class="contact-link">Tel: +54 9 261 9999-0000</a>
        <a href="" class="contact-link">Mail: santirossapro@gmail.com</a>
    </div>
    
</div>
<div class="Copyright">
    <p class="parrafo-footer">Copyright &copy; 2024 - Todos los derechos reservados</p>
    </div>
</footer>