<link rel="stylesheet" href="../public/css/index.css">
<head>
    <style>
        body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1d29;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333; 
    color: #fff;
    padding: 10px 20px;
    width: 100%;
}

.titulo{
    font-size: 24px;
    color: #ccc;
    text-decoration: none;
}

.titulo:hover{
    color: #ececec;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar-links {
    list-style-type: none;
    display: flex;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
}

.navbar-links a:hover {
    background-color: #575757; 
    border-radius: 5px;
}
    </style>

</head>

<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="titulo">Electric Plus</a>
        <ul class="navbar-links">
            <li><a href="/">Inicio</a></li>
        </ul>
    </div>
</nav>